 <!-- About Section -->
    <section class="success" id="whatwedo">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>What we do</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-4">
                    <h3><i class="fa fa-laptop"></i>&nbsp;Contracting</h3>
                    <p>
                      Hire <a href="#team">us</a> to work on your Scala project, either on-site or remotely.
                    </p>
                </div>
                <div class="col-lg-4">
                    <h3><i class="fa fa-university"></i>&nbsp;Training</h3>
                    <p>Looking to incorporate Scala alongside your Java projects? We can provide an on-site beginner Scala workshop. <a href="#contact">Contact us</a> to enquire</p>
                </div>
                <div class="col-lg-4">
                    <h3><i class="fa fa-code-fork"></i>&nbsp;Opensource</h3>
                    <p>We contribute open source software to the community. Take a look at our <a href="/opensource/">oss page</a> for more details</p>
                </div>
            </div>
        </div>
    </section>
