<!-- Team Section -->
   <section id="team">
       <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   <h2>The Team</h2>
                   <hr class="star-primary">
               </div>
           </div>
           <div class="row">
               <div class="col-lg-3 col-lg-offset-1 text-center">
                   <img class="team-avatar" style="margin-top:20px; width:105px;" src="img/avatar.jpg" />
                   <h3>Ian Forsey</h3>
                   <ul class="list-inline">
                       <li><a href="https://github.com/theon" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a></li>
                       <li><a href="http://stackoverflow.com/users/936869/theon" class="btn-social btn-outline"><i class="fa fa-fw fa-stack-overflow"></i></a></li>
                       <li><a href="https://www.linkedin.com/in/iforsey/" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a></li>
                   </ul>
               </div>
               <div class="col-lg-7" style="text-align:justify;">
                  <p>Hi! I'm Ian. I'm a Scala developer at Lemon Labs. I have worked in a variety of Java and Scala environments, both object-oriented and functional</p>
                  <p>I'm an active maintainer of the lemonlabs <a href="/opensource">opensource scala projects</a></p>
                  <p>I enjoy using my experience to help companies with their Java and Scala projects</p>
               </div>
           </div>
       </div>
   </section>
