<!-- Team Section -->
   <section id="team">
       <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   <h2>The Team</h2>
                   <hr class="star-primary">
               </div>
           </div>
           <div class="row">
               <div class="col-lg-3 col-lg-offset-1 text-center">
                   <img class="team-avatar" style="margin-top:20px; width:105px;" src="img/avatar.jpg" />
                   <h3>Ian Forsey</h3>
                   <ul class="list-inline">
                       <li><a href="https://github.com/theon" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a></li>
                       <li><a href="http://stackoverflow.com/users/936869/theon" class="btn-social btn-outline"><i class="fa fa-fw fa-stack-overflow"></i></a></li>
                       <li><a href="https://www.linkedin.com/in/iforsey/" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a></li>
                   </ul>
               </div>
               <div class="col-lg-7" style="text-align:justify;">
                   <p>
                     Hi! I'm Ian. I'm a developer at Lemon Labs. 2008-2016 I worked at <a href="http://www.net-a-porter.com">Net-A-Porter</a> authoring their first Scala project in 2011 whilst working in the labs team. Over the following five years I drove
                     Net-A-Porter's investment in Scala, providing beginner Scala <a href="http://techblog.net-a-porter.com/2013/11/scala-at-net-a-porter/">workshops</a> for near 100 employees, <a href="https://github.com/search?utf8=%E2%9C%93&q=user%3Anet-a-porter+language%3AScala&type=Repositories&ref=advsearch&l=Scala&l=">opensourcing</a> as much as possible, speaking
                     about Net-A-Porter's use of Scala at <a href="https://www.meetup.com/london-scala/events/221032681/">LSUG</a> and <a href="https://skillsmatter.com/skillscasts/4714-scala-does-the-catwalk">Scala eXchange</a>.
                     By 2015 Net-A-Porter had 15+ Scala applications in production across 7+ teams.</p>
                  <p>Today I enjoy taking this experience to help other companies with their Scala projects. Check out my <a href="https://theon.github.io/cv">CV</a> for more details.</p>
               </div>
           </div>
       </div>
   </section>
